<h1><%=@user.name%></h1>

<%=link_to "Your Shopping Lists", user_shopping_lists_path(@user)%>

<%=link_to "Your Hosted Events", user_hosted_events_path(@user)%>
<%=render partial: "/events/show_events", locals: {event: @user.hosted_events}%>

<%=link_to "Your Events", user_events_path(@user)%>
<%=render partial: "/events/show_events", locals: {event: @user.events}%>
