<h3>Event:</h3>
<%= @event.name %><br>
<h3>Host:</h3>
<%= @event.host.name %><br>
<h3>Time:</h3>
<%= event_time(@event) %><br>
<h3>Location:</h3>
<%= @event.location %><br>
<h3>Attendees:</h3>
<ul>
  <% @event.users.each do |user|%>
    <li><%= user.name %></li>
  <%end%><br>
</ul>
<% if @event.host == @user %>
  <h3><%= link_to "Shopping List:", user_shopping_list_path(@user, @event.shopping_list)%></h3>
  <% if @event.shopping_list.items.empty? %>
    <%= link_to "Add items now", edit_user_shopping_list_path(@user, @event.shopping_list) %>
  <%else%>
    <% @event.shopping_list.items.each do |item| %>
      <%= item.name %>
    <% end %>
  <% end %>

  <%= button_to "Delete this Event", user_event_path(@event), method: :delete %>
<% end %>
