<h1>Edit <%= @shopping_list.name %></h1>
<%= form_for @shopping_list, url: "/users/#{@user.id}/shopping_lists/#{@shopping_list.id}" do |f| %>
  <%= f.label "Add an item" %><br>
  <%= f.fields_for :amounts do |amounts_fields| %>
    <%= amounts_fields.label :measurement %>
    <%= amounts_fields.text_field :measurement %>
    <%= amounts_fields.label "Item Name" %>
    <%= amounts_fields.text_field :item, list: "item_name" %><br>
    <datalist class="item_name">
      <% @items.each do |item| %>
        <option value="<%=item.name%>"></option>
      <% end %>
    </datalist>
  <% end %>
  <% if !@shopping_list.items.empty? %>
    <%= f.label "Remove an Item" %><br>
    <%= f.collection_check_boxes :items, @shopping_list.items, :id, :name %>
  <% end %>
  <%= f.submit %>
<% end %>
