<!DOCTYPE html>
<html>
  <head>
    <title>ProductivityApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <nav>
      <%= link_to "Profile", '/profile' %>
      <%= link_to "Shopping Lists", user_shopping_lists_path(current_user) %>
      <%= link_to "Events", user_events_path(current_user) %>
      <%= link_to "Hosted Events", user_hosted_events_path(current_user) %>
      <%= link_to "Log Out", '/logout', method: :post %>
    </nav>
    <%= yield %>
  </body>
</html>
